<form class="form-container_material" [formGroup]="inputForm">
  <mat-form-field>
    <mat-label>{{optionForm.nameForm | transloco}}</mat-label>
    <input type={{type}} matInput formControlName="value"
      placeholder="{{'placeholderInput' | transloco}} {{optionForm.nameForm | transloco}}">
    </mat-form-field>
    @if (optionForm.type === 'password') {
      <span class="hide-password material-symbols-outlined"
      (click)="hidePasword()">visibility</span>
    }
    @if (_value?.invalid && (_value?.touched || _value?.dirty)) {
      <div class="error-form-container">
        @if (_value?.errors?.required) {
          <span class="error-text">{{'errorInput' | transloco}}</span>
        }
      </div>
    }
  </form>