@import "./../../../scss/default-styles";
@import "./../../../scss/color-styles";

.page-about-container {
    height: 92vh;
    @include flex_c-s;
}

.page-about-img {
    height: 100%;
}

.page-about-speck {
    width: 100%;
}

.page-about-desc-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding-left: 2vw;
    padding-top: 4vw;
}

.container-speck {
    width: 80%;
}

.container-social {
    width: 3vw;
    height: 3vw;
}

.container-contacts {
    display: flex;
    gap: 0.5vw;
}

.page-about-desc {
    text-align: justify;
    font-size: 1.2vw;
}