<div class="receive-deal-item">
  <p class="receive-deal-player">{{'player' | transloco}}
    <span [ngStyle]="{color: player.color}">{{player.nickName}}</span>
    {{'getOffer' | transloco}}
  </p>
  @if (companyPlayer.length) {
    <ul class="receive-deal-company">
      <p class="receive-deal-text">{{'getCompany' | transloco}} </p>
      @for (cell of companyPlayer; track cell) {
        <li class="offer-company-li">
          <img class="offer-company-li_img" [src]="cell.nameCell | imgAssets" alt='name assets'>
        </li>
      }
    </ul>
  }
  @if (offerInfo?.valueMoney) {
    <p class="receive-deal-text">{{'getMoney' | transloco}}
      <span class="receive-deal-text receive-deal-text_money">{{offerInfo?.valueMoney}}$</span>
    </p>
  }
</div>