@if (!cell) {
  <mat-spinner class="spinner-info-cell"></mat-spinner>
} @else {
  <div class="info-cell-container">
    <img class="info-cell-img" [src]="cell.nameCell| imgAssets" alt="img info">
    <p class="info-cell-text info-cell-title">
    {{('infoCellTurnTitle' | transloco)}} {{cell.nameCell | uppercase}} </p>
    <div class="info-desc-container">
      @if (gameRoom.infoCellTurn; as infoCellTurn) {
        <div [style.width]="'100%'">
          @switch (cell.type) {
            @case ('tax') {
              <app-cell-tax [infoCellTurn]="infoCellTurn"></app-cell-tax>
            }
            @case ('profit') {
              <app-cell-profit [infoCellTurn]="infoCellTurn"></app-cell-profit>
            }
            @case ('loss') {
              <app-cell-loss [infoCellTurn]="infoCellTurn"></app-cell-loss>
            }
            @case ('empty') {
              <app-cell-empty [infoCellTurn]="infoCellTurn"></app-cell-empty>
            }
            @case ('company') {
              <app-cell-company [infoCellTurn]="infoCellTurn"></app-cell-company>
            }
          }
        </div>
      }
      <div class="info-cell-buttons">
        @for (button of this.buttonsResult; track button) {
          <app-button-standart [button]="button"
            [ngClass]="{'button__disable': (button.action === 'payButton' && isPay())}">
          </app-button-standart>
        }
      </div>
    </div>
    @if (gamePlayer) {
      <div class="bankrupt-fon">
        @if (gamePlayer.bankrupt) {
          <p class="bankrupt-fon-text" [style.color]="gamePlayer.color">
            {{'bankrot' | transloco}}
          </p>
        }
      </div>
    }
  </div>
}
