<div class="info-inside-container">
  <app-foto-player [player]="gamePlayer" [size]="'9vw'"></app-foto-player>
  <p class="info-inside-name">{{gamePlayer.nickName}}</p>
  <app-raiting-stars [infoUser]="gamePlayer" [width]="'10vw'"></app-raiting-stars>
  @if (gamePlayer.bankrupt) {
    <app-button-standart
    [button]="leaveGameButton"></app-button-standart>
  } @else {
    <ol>
      <li class="info-inside-text">{{'total' | transloco}}: <span class="info-inside-text_value">
      ${{gamePlayer.total}}</span></li>
      <li class="info-inside-text">{{'capital' | transloco}}: <span class="info-inside-text_value">
      ${{gamePlayer.capital}}</span></li>
      <li class="info-inside-text">{{'totalCompany' | transloco}}: <span
      class="info-inside-text_value">{{amountCompany}}</span></li>
    </ol>
  }
</div>