@import "./../../../../scss/default-styles";
@import "./../../../../scss/color-styles";

.container-button_font {
    border-radius: 1.7vw;
}

.button-font {
    @include font-default;
    font-size: 1vw;
    white-space: nowrap;
    color: $light_blue;
    margin: 4%;
    font-weight: 600;
}