<div class="room-item-container">
  <div class="room-item_gradient">
    @if (idUser) {
      <p class="room-item_join" (click)="clickControl()">
        {{(isJoin ? 'leaveGame' : 'joinGame' ) | transloco}}
      </p>
    }
    <ul>
      <li class="room-item_title">{{'nameRoom'| transloco}}{{infoRoom.roomName}}</li>
      <li class="room-item_desc__title">{{'maxPlayerRoom' | transloco}}
        <span class="room-item_desc">{{infoRoom.maxPlayers}}</span>
      </li>
      <li class="room-item_desc__title">{{'playerOnline' | transloco}}
        <span class="room-item_desc">{{infoRoom.players.length}}</span>
      </li>
      <li class="room-item_desc__title">{{'durationStep' | transloco}}
        <span class="room-item_desc">{{infoRoom.timeTurn / 1000}}s</span>
      </li>
    </ul>
    <div class="cell-room-container">
      @for (cell of playerArr; track cell) {
        <div>
          @if (cell) {
            <div class="infoUser-container">
              <app-foto-player [player]="cell" [size]="'5vw'"></app-foto-player>
              <p class="frelly_text">{{cell.nickName}}</p>
              <app-raiting-stars [infoUser]="cell" [width]="'5vw'"></app-raiting-stars>
            </div>
          } @else {
            <app-freely-cell-room></app-freely-cell-room>
          }
        </div>
      }
    </div>
    @if ((idRoom$ | async) === infoRoom.idRoom) {
      <app-loader-time class="loading-room"
      [typeLoading]="'startGame'"></app-loader-time>
    }
  </div>
</div>