<form class="form-create-container form-container" [formGroup]="createGame" (ngSubmit)="onSubmit()">
  <div>
    @for (option of inputForm; track option) {
      <app-input-material [optionForm]="option"
      [parentForm]="createGame"></app-input-material>
    }
    @for (option of selectsForm; track option) {
      <app-select-material [parentForm]="createGame"
      [optionForm]="option"></app-select-material>
    }
  </div>
  <app-button-standart [button]="textButton"></app-button-standart>
</form>