<div class="page-rules-container">
  <h1 class="page-title page-title_rules">{{'rulesTitle' | transloco}}</h1>
  <div class="container-rules-items_scrool">
    <div class="container-rules-items">
      @for (info of info; track info) {
        <div class="container-number-one container-rules-item">
          <p class="container-number-one_title">{{info+'Title' | transloco}}</p>
          <p class="container-rules-item_desc">{{info+'Desc'| transloco}}</p>
        </div>
      }
    </div>
  </div>
  <img class="page-rules-img" src="assets/pageRules.svg" alt="pageRules">
</div>