@import "./../../../../scss/color-styles";
@import "./../../../../scss/default-styles";

.header-container {
    padding: 0 0.5%;
    @include flex-c_s;
}

.header-logo {
    width: 5vw;
}

.header-menu {
    z-index: 111;
    @include flex-c_s;
}

.header-home-img {
    width: 2.5vw;
    transition: .4s;

    &:hover {
        transform: scale(1.05);
    }
}