<div class="auction-container">
  <img class="auction-img img-title" src="assets/auction.png" alt="imgAuction">
  <p class="info-cell-text info-cell-title"> {{('infoAuctionTitle' | transloco)}} {{gameCell?.nameCell | uppercase}}
  </p>
  <div class="auction-container_info">
    <ul class="auction-info-title">{{'infoAuction' | transloco}}
      <li class="auction-info-text">{{'startPrice' | transloco}}
        <span class="auction-info-text auction-info-text_value">${{gameCell?.company?.priceCompany}}</span>
      </li>
      <li class="auction-info-text">{{'rentValue' | transloco}}
        <span class="auction-info-text auction-info-text_value">
        {{rentCompany | rentPipe: gameCell?.company?.countryCompany}}</span>
      </li>
      <li class="auction-info-text">{{'currentBid' | transloco}}
        <span class="auction-info-text auction-info-text_value">${{infoAuction.currentPrice}}</span>
      </li>
      <li class="auction-info-text">{{'currentWinner' | transloco}}
        <span class="auction-info-text auction-info-text_value">{{winner | transloco}}</span>
      </li>
    </ul>
    <img class="auction-img" [src]="gameCell?.nameCell | imgAssets" alt="nameInfo">
  </div>
  @if (infoAuction?.action === 'startAuction') {
    <div class="auction-button"
      >
      @switch (infoAuction.statePlayer) {
        @case (active) {
          @for (button of buttonsAuction; track button) {
            <app-button-standart [button]="button"></app-button-standart>
          }
        }
        @case (wait) {
          <p>{{'waitAuction' | transloco}}</p>
        }
        @case (inactive) {
          <p>{{'inactiveAuction' | transloco}}</p>
        }
      }
    </div>
  } @else {
    <p class="auction-info-text auction-info-text_value">{{'endAuction' | transloco}}</p>
    <app-loader-time [typeLoading]="'auction'"></app-loader-time>
  }
</div>