<form class="form-container_material" [formGroup]="selectForm">
  <mat-form-field>
    <mat-label>{{optionForm.nameForm | transloco}}</mat-label>
    <mat-select formControlName="value">
      @for (option of optionForm.optionSelect; track option) {
        <mat-option value={{option.value}}>
          {{option.option}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  @if (_value?.invalid && (_value?.touched || _value?.dirty)) {
    <div class="error-form-container">
      @if (_value?.errors?.required) {
        <span class="error-text">{{'errorInput' | transloco}}</span>
      }
    </div>
  }
</form>